/*================================================
    Google Fonts
================================================*/
@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400&family=Montez&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400&display=swap');

:root {
    --primary-color: #ffffff;
    --secondary-color: #274060;
    --accent-color: rgb(11, 75, 192);
    --background-primary-color: ;
    --background-secondary-color: ;
    --border-color: grey;
    --logo-text: 'Montez', cursive;
    --main-title-text: #7a7a80;
    --subtitle-text: ;
    --subtitle-size: .75rem;
    --label-text: poppins;
    --body-text: 'Amiri', serif;
    --body-text-color: rgba(0, 0, 0, 0.75);
    --text-color: #b9d9fd;
    --corner: .5em;
    --shadow: rgba(153, 154, 156, 0.6);

}



/*================================================
    Common To All Pages
================================================*/


html {
    scroll-behavior: smooth;
    scroll-padding-top: 120px;
    font-family: var(--body-text);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { 
    -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

body::-webkit-scrollbar {
    display: none;
  }

p:not(.carousel-caption>p, .footer_section>p){
    color: var(--body-text-color)
}

h1 {
    font-size: 4rem;
    font-family: serif;
    font-weight: 500;
    text-align: center;
    margin-bottom: 3.5rem;
}

section:not(.home-section) {
    width: 100%;
    max-width: 1168px;
    margin: 7.5em auto 0 auto;
    padding: 0 1rem;
    /* outline: 1px solid blue; */
}



/*================================================
    NavBar
================================================*/

.subtitle {
    font-weight: 400;
    font-size: var(--subtitle-size);
    transform: translateY(-.28rem);
    border-bottom: 1px solid var(--secondary-color);
}

header {
    background-color: var(--color1);
    padding: 1em 0;
    position: sticky;
    top: 0;
    overflow: hidden;
    z-index: 99;
    background-color: rgba(255, 255, 255, 0.9);
    margin: 0;
}

.container_ {
    width: 100%;
    max-width: 1168px;
    /* border: 1px solid rgb(251, 255, 0); */
    margin: 0 auto;
    
}

.nav_container {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
}

/* .navbar {
    display: flex;
    justify-content: space-between;
    height: 80px;
    line-height: 70px;
    padding: 0 10%;
    position: sticky;
    top: 0;
    overflow: hidden;
    z-index: 99;
    background-color: rgba(255, 255, 255, 0.9);
    
} */


.navbar .nav_ {
    display: flex;
    list-style: none;
    padding: 0;
    /* outline: 1px solid red; */
    
}

.navbar .nav_link {
    margin-left: 2em;
}

.nav_link a {
    color: var(--secondary-color);
    font-weight: 500;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
    /* outline: 1px solid blue; */
    padding: 0 0 .25em 0;
}

.nav_link a:hover, 
.nav_link a:focus {
    color: var(--accent-color);
    
}

.current_page {
    border-bottom: 2px solid var(--secondary-color);
    color: var(--secondary-color);
}


.title a{
    font-family: var(--logo-text);
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 1.2rem;
    text-decoration: none;
    color: var(--secondary-color);
}

.menu-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    box-shadow: 0 2px 5px rgba(255, 101, 47, 0.18);
    display: none;
}

.menu-btn_burger {
    width: 30px;
    height: 3px;
    background: rgb(163, 163, 163);
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
    
}

.menu-btn_burger::before,
.menu-btn_burger::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 3px;
    background: rgb(163, 163, 163);
    border-radius: 5px;
    transform: translateY(-50%);
    transition: all 0.5s ease-in-out;
}

.menu-btn_burger::before {
    transform: translate(-15px, -8px);
    
}

.menu-btn_burger::after {
    transform: translate(-15px, 8px);
}

.menu-btn.open .menu-btn_burger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
}

.menu-btn.open .menu-btn_burger::before {
    transform: rotate(45deg) translate(26px, -26px);
}

.menu-btn.open .menu-btn_burger::after {
    transform: rotate(-45deg) translate(26px, 25px);
}

.mobile_nav {
    display: none;
}

.line {
    background: rgba(74, 74, 75, 0.85);
    width: 32px;
    height: 3px; 
}



/*================================================
    Home
================================================*/

.home-section img {
    /* height: 760px; */
    object-fit: cover;
    /* aspect-ratio: 16 / 8.03; */
    aspect-ratio: 16 / 7;
}

.home-section {
    max-width: 100%;
    /* margin: 0;
    padding: 0; */
}



/*================================================
    About Us
================================================*/



.distance-row {
    margin-top: 48px;
}

.distance-row h3{
    font-size: 2.5rem;
    font-weight: 400;
}

.distance-header {
    display: flex;
    gap: 8px;
    line-height: 140px;
    margin-top: 8px;
}

.distance-header .location-pic{
    width: 35px;
    height: 35px;
    transform: translateY(5px);
}

.distance-items { 
    display: flex;
    justify-content: space-between;
    font-family: var(--logo-text);
    font-weight: 500;
}

.distance-items div{ 
    display: flex;
    gap: 12px;
    justify-content: space-between;
}

.distance-items .babyfeet {
    width: 20px;
    height: 20px;
    transform: translateY(-5px);
}

.distance-items p {
    transform: translateY(-3px);
    padding-left: 5px;
}


/*================================================
    Rooms
================================================*/

.icon-card {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 96px;
    margin-bottom: 56px;
}

.rooms-wrapper .icon {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    border-radius: var(--corner);
}

.room-details {
    padding-top: 16px;
}

.mobile-off {
    display:grid
}

.mobile-on {
    display: none;
}



/*================================================
    Gallery
================================================*/
.photos-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 48px 40px;
    
}

.photo-pic {
    width: 100%;
    object-fit: cover;
    overflow: hidden;
    border-radius: var(--corner);
}

.photo-container .photo-title {
    margin-top: 16px;
    text-align: center;
}

.photo-link {
    text-decoration: none;
    color: var(--secondary-color);
}



.modal_container {
    position: fixed;
    inset: 0;
    background-color: rgba(255, 255, 2550, 0.92);
    place-items: center;
    z-index: 100;
    display: none;
    cursor: pointer;

}
.modal_container  img {
    border-radius: var(--corner);
    width: 75%;
    aspect-ratio: 16 / 10 ;
    margin: 0 auto;
    object-fit: cover;
}

.show {
    display: grid
}

.photo-card {
    cursor: pointer;
    padding: .75em;
    border-radius: var(--corner);
    box-shadow: 2px 4px 10px var(--shadow);
}

/*================================================
    Contact Us
================================================*/
.contact-form-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 48px 64px;
    
}

.hidden_title{
    display: none;
}
.form_control {
    display : flex;
    flex-direction: column;
    border: none;
    /* outline: 1px solid red; */
}

.form_control > input, textarea {
    width: 100%;
    margin: 0 0 16px 0;
    padding: 10px;
    border-radius: var(--corner);
    border: 1px solid var(--border-color);
}

.submit-btn {
    padding: 8px 24px;
    text-align: center;
    color: var(--primary-color);
    background: var(--accent-color);
    border-radius: var(--corner);
    border: none;
    /* margin-left: 10px; */

}

.address-section {
    margin: 0 auto;
}
/* 
.address-section img {
    width: 30px; 
} */


iframe {
    height : 265px;
    min-height: 100px;
    aspect-ratio: 17.7/9;
    margin: 20px auto 16px auto;
     padding-bottom: .5em;
    border-radius:var(--corner);
    
}

.address-title {
  font-size: 16px;
  font-weight: 500;
}

.address-details a{
    color: var(--accent-color);
    text-decoration: none;
    padding: .5em;
}

.address-line{
    display: flex;
}

.location-pic {
    width: auto;
    height: 20px;
    object-fit: scale-down;
}

.socials {
    display: flex;
    gap: 8px;
}

.socials  svg {
    height : 24px;
    width : auto;
    margin-top: 1em;
}

/*================================================
    ScrollUp
================================================*/
.up-arrow {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: fixed;
    bottom: 36px;
    right: 48px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    z-index: 99;
}

.scroll-up {
    position: fixed;
    right: 0.5%;
    bottom: 3%;
    cursor: pointer;
    opacity: 0;
}

.show {
    opacity: 1
}


/*===============================================
    Footer
===============================================*/
.footer_section {
    display: flex;
    justify-content: space-between;
    height: 80px;
    padding: 0 10%;
    line-height: 70px;
    background-color: var(--secondary-color);
    color: var(--text-color);
    margin-top: 40px;
}
/* .footer_para_padding_lft{
    padding-left:0%;
}

.footer_para_padding_rt{
    padding-right: 0%;
} */

.style_font {
    font-family: var(--logo-text);
    font-weight: 500;
    font-size: 1.2rem;
}


/*===============================================
    Media Queries
===============================================*/

@media screen and (max-width: 768px) {
    .nav_container {
        flex-direction: row;
        justify-content: space-between;
    }

    header {
        text-align: center;
        margin: 0;
        /* outline: 1px solid red; */
    }

    .navbar .nav_ {
        /* display: none; */
        display: none;
    }

    .show {
       display: block;
    }

    .menu-btn {
        display: grid;
    }
    
    .room-details {
       margin: 0;
       padding: 0;
    }

    .photos-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 48px 40px;  
    }
  
    .mobile-on {
        display: grid;
    }

    .mobile-off {
        display: none;
    }
    .icon-card {
        gap: 1em;
    }

    .modal_container  img {
        width: 100%;
        aspect-ratio: 16 / 10 ;
        margin: 0 auto;
        object-fit: cover;
    }

    .address-section {
        margin: 0 auto;
    }
    iframe {
        width: 95%;
        height: auto;
        margin: 0;
    }

    .hidden_title{
        display: block;
        color: var(--secondary-color);
        margin-bottom: .7em;
    }

    .contact-form-container {
        display: flex;
        flex-direction: column; 
    }

    .contact-form {
        order: 2
    }

    .up-arrow {
        position: fixed;
        bottom: 2%;
        right: 1.5%;
}
    .footer_para_padding_rt {
        padding-right: 0;
    }
    .footer_para_padding_lft {
        padding-left: 0;
    }

    .footer_section {
        line-height: 2em; 
    }
    .footer_section p {
        padding-top: 1em;
    }


}


@media screen and (max-width: 410px) {
    html {
        font-size: 11px;
    }

    .distance-header {
        margin-bottom: .75em;
    }
    .distance-items {
        flex-direction: column;
    }

    .up-arrow {
        position: fixed;
        right: 1%;
        
    }
}